<?xml version="1.0" encoding="UTF-8"?>
<window>
    <onload>ReplaceWindow(InterfaceSettings)</onload>
    <controls>
        <include content="Object_Control">
            <param name="control" value="image" />
            <texture colordiffuse="main_bg_100">common/bg.jpg</texture>
        </include>
    </controls>

</window>
